mixin header(title)
  header.header-global
      nav#navbar-main.navbar.navbar-main.navbar-expand-lg.navbar-theme-primary.pt-4.navbar-dark(aria-label='Primary navigation')
        .container.position-relative
          #navbar_global.navbar-collapse.collapse.me-auto
            .navbar-collapse-header
              .row
                .col-6.collapse-brand
                  a(href='/')
                    img(src='/assets/img/brand/light.svg', alt='Volt logo')
                |                         
                .col-6.collapse-close
                  a.fas.fa-times(href='#navbar_global', data-toggle='collapse', data-target='#navbar_global', aria-controls='navbar_global', aria-expanded='false', title='close', aria-label='Toggle navigation')
            |                 
            ul.navbar-nav.navbar-nav-hover.align-items-lg-center
              li.nav-item.me-2
                a.nav-link(href='/admin/dashboard') Dashboard
              |                     
              li.nav-item.me-2
                a.nav-link(href='/login') Login
              |                     
              li.nav-item.me-2
                a.nav-link(href='/register') Register
              |                     
              li.nav-item
                a.nav-link(href='/pages/examples/lock.html') Lock
          |             
          .d-flex.align-items-center.ms-auto
            a.btn.btn-outline-white.d-inline-flex.align-items-center.me-md-3(href='/pages/upgrade-to-pro.html')
              svg.icon.icon-xxs.me-2(fill='currentColor', viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z', clip-rule='evenodd')
              |                     Download

+header('Hello world')